.header-icon{
color: white;
font-size: 30px;
font-weight: 600;
}
.login{
    background-color: white;
    border-radius: 50px;
  color: black;
}
#logo {
  
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-top: 13px;
}
.navtoggle{
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}
.cursor{
    display: inline-block;
    width: 2px;
    margin-left: 5px;
    height: 40px;
    margin-bottom: -4px;
    background: rgba(255, 255, 255, 1);
    -webkit-animation: cursor_anim 1s  infinite;
    position: absolute;
  }
  @-webkit-keyframes cursor_anim {
    0% {
      background: white;
    }
    45% {
      background: white;
    }
    46% {
      background: #084f8e;
    }
    89% {
      background: #084f8e;
    }
    90% {
      background: white;
    }
    100% {
      background: white;
    }
  }
  #clouds1 {
    margin-top: 0;
    opacity: .5;
    -webkit-animation: cloud_anim 200s infinite;
    animation-timing-function: linear;
    background: url(clouds1.png );
  }
  
  #clouds2 {
    opacity: 1;
    -webkit-animation: cloud_anim 150s infinite;
    margin-top: 20px;
    animation-timing-function: linear;
    background: url(clouds2.png);
    border-bottom: 10px solid white;
  }
  
  #clouds3 {
    margin-top: -30px;
    background-position-x: -140px;
    opacity: .7;
    -webkit-animation: cloud_anim 150s infinite;
    animation-timing-function: linear;
    background: url(clouds3.png);
  }
  
  .clouds {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
  
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes cloud_anim {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 2000px 0;
    }
  }
  

.main-bg{
    background-color:#083e75;
    height: 600px;
   
}
.moon-image{
    width: 212px;
    height: 212px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    transition: 1s linear all;
    animation: moon_anim 200s infinite;
      animation-timing-function: ease;
    animation-timing-function: linear;
    border-radius: 100%;
}
    .nav-bar {
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      /*	width: 100%;
      padding: 20px;*/
      transition: 0.2s linear all;
    }
    
   .nav-bar-sticky {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: rgba(38, 47, 53, 0.95) !important;
    }
 

  #navlinks{
    color: white;
  }
.moon{
    margin-top: 12%;
    margin-left: 5%;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-started-button{
    color:blue;
    background-color: white;
    border: none;
    padding :2% 8% 2% 8%;
    text-align: center;
    font-size: large;
}




.main-content{
    color: rgb(5, 1, 1);
    margin-top: 12%;
    margin-right: 8%;  
}
.learn-touch{
    color: white;
}
.sec1img{
    width: 500px;
    height: 400px;
    margin-top: 20%;
}

.row2{
    display: flex;
 
    
}
.sec2content{
    margin-top: 10%;
    padding-left: 12%;
    position: relative;

}
#sec21{
    color: rgba(0, 0, 0, 0.37);
    
}
.sec3{
    background-color: #084f8e;
   
}
.sec31{
padding-top: 35px;

}


.sec3textcon{
padding-left: 10px;
}
#sec3text{
    color: white;

}
#sec3small-text{
    color: white;
}
.sec4{
    background-color: #f4f5f6;
    padding-top: 90px;
    padding-bottom: 60px;
}
.sec4h3{
font-size:28px;
font-weight:500;
}
.sec4p{
font-size:16px;
font-weight: 100;
}

.spacer{
    position: absolute;
top: 100%;
padding-top: 100px;
left: 0px;
right: 0px
}
.sec52{
   
   
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec4heading{
   align-items: center; 
}
.imgsize{
    width: 310px;
    height: 206px;
}
.sec5{
    padding-top:3%;
}
.sec5h1{
color: rgba(0, 0, 0, 0.507);
}
.sec5h2{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.767);
}
.sec6{
    background-color: #f5f5f5;
    
    padding-bottom: 6%;
} 
.sec6h3{
    color: #137ddabd;
    font-size: 24px;
    font-weight: 400;
}
.sec6-div-heading{
    font-size: small;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.425);
}

.sec7{
    display: flex;
    flex-direction: column;
  align-items: center;
    background-color: #f5f5f5;
}

.sec7row{
    padding-left: 25%;
}
.sec8{
    background-color: #262e35;
}
#sec8c{
    color: white;
}
.sec8-button{
    width:;
}
.sec9container{
    background-color: #0198b7;
}
.sec9form{
background-color: #67c0d4;
padding: 30px;
border-radius: 5px;
margin: 50px 230px;

}
.sec9-form-container{
    padding-top: 10%;
    padding-bottom: 10%;
}
.sec9h3{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
  } 
  .sec9h6{
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
}
.email{
    width: 100%;
height: 35px;
padding: 6px 12px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.sec10text{

}
.sec10img{
    width: 100%;
    height: auto;
}
.sec11{
    background-color: #f4f5f6; 
    height: 210px;
}

.sec11c{

    background-color: #f4f5f6;
    width: 100%;
    margin-top: 7%;
    
}
.sec11h6{
    padding-top: 100px;
    letter-spacing: 3px;
    color: #bec8ce;
    font-weight: 600;
}
.footersec12{
    background-color:#262f36;
    color: rgba(255, 255, 255, 0.623);
    padding-top: 10%;
    font-weight: 300;
    padding-bottom: 10%;
}

.footertext{
  
    color: rgba(255, 255, 255, 0.918);
}
.footertext:hover{
    color:white;
}
